Python version we used: 3.6

libsndfile

We need pysoundfile to load audio files, which depends on the non-Python library libsndfile. On Windows and macOS, these can be installed by pip but in Linux, this must be installed manually via platform's package manager. For Debian-based distributions (such as Ubuntu), this can be done by running

apt-get install libsndfile1

Installation will depend on the base image we choose.

